body {
    background-color: #87E849;
}

.masthead {
    font-family: 'Rokkitt', serif;
}
.box {
    font-family: 'Raleway', sans-serif;
    background-color: #51CF13;
}

input {
    background-color: #9EF57E;
}

@media screen and (min-width: 40em) and (max-width: 80em) {
    .box {
       
    }
}

@media screen and (min-width: 80em) {
    label {
        
    }
    .box {
        float: left;
    }
}